.header-wrapper {
  padding: 3px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: #DDE1E0;
  text-transform: uppercase;
  color: #8c8c8c;
  border-left: 1px solid #E7EBEA;
  border-right: 1px solid #E7EBEA;

  .active-bar {
    height: 5px;
    width: 100%;
    background-color: #DDE1E0;
  }

  .icon {
    margin-top: 10px;
  }

  .title {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &.active {
    background-color: #E7EBEA;
    color: #55AA8D;

    .active-bar {
      background-color: #55AA8D;
    }
  }
}