.tabs-wrapper {
  width: 1000px;
  margin: 40px auto;
  background-color: #E7EBEA;

  .tab-headers {
    display: flex;
    justify-content: space-between;
  }

  .tab-content {
    height: 1000px;
  }
}